  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-toggleable-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Lunch <i class="fa fa-cutlery" aria-hidden="true"></i> on Rails</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Statistics</a>
            </li>
			<% end %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#places">Places to go</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center text-white d-flex">
	
	<div id="videolunch" class="bg_lunchvideo">
		<video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
			<source src="/img/lunch.mp4"></source>
		</video>
	</div>
	
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
				<div class="lunch-circle">
					<div class="lunch-face">
						<div id="hour" class="lunch-hour"></div>
						<div id="minute" class="lunch-minute"></div>
						<div id="second" class="lunch-second"></div>
					</div>
				</div>		  
            <h1 class="text-uppercase">
              <strong id="clock">...</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" id="countlunchdown">Take your time</p>
			<% if user_signed_in? %>
            <a class="btn btn-primary btn-xl open-popup-link" href="#launchlunch">I'm going now</a>
			<% end %>
          </div>
			<div id="launchlunch" class="white-popup mfp-hide">
			  <h1 class="text-center">Pick a place to go</h1>
			</div>
        </div>
      </div>
    </header>


	<% if user_signed_in? %>
    <section class="bg-dark" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Your lunch overview</h2>
            <hr class="light my-4">
          </div>
        </div>
		      <div class="container">
        <div class="row" style="margin-top: 3rem;">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <strong><h1 class="text-primary stat_digit">5</h1></strong>
              <h3 class="mb-3 text-faded">Total lunches this year</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <strong><h1 class="text-primary stat_digit">3</h1></strong>
              <h3 class="mb-3 text-faded">Times too late to eat</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <strong><h1 class="text-primary stat_digit">2</h1></strong>
              <h3 class="mb-3 text-faded">Different places visited</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <strong><h1 class="text-primary stat_digit">40</h1></strong>
              <h3 class="mb-3 text-faded">Minutes average lunch length</h3>
            </div>
          </div>
        </div>
      </div>
      </div>	  
    </section>
	<% else %>
      <section class="bg-dark"></section>
    <% end %>
	
    <section class="p-0 bg-primary" id="places">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Project Name
                  </div>
                </div>
              </div>
            </a>
          </div>
       </div>
      </div>
    </section>	

	<% if user_signed_in? %>
      <div class="bg-dark"><ul class="nav nav-justified" id="userbar">
          <li><a href="#" title="Settings"><i class="fa fa-cog fa-2x col-sm-12"></i></a></li>
          <li><a href="#" title="Add a place"><i class="fa fa-plus fa-2x col-sm-12"></i></a></li>
          <li><a href="#" title="Profile"><i class="fa fa-user fa-2x col-sm-12"></i></a></li>
          <li><a href="/signout" title="Logout"><i class="fa fa-sign-out fa-2x col-sm-12"></i></a></li>
        </ul>
	</div>
    <% else %>
      <div class="bg-dark"><ul class="nav nav-justified" id="userbar">
          <li style="width: 100%"><a href="/signin" title="Login" ><i class="fa fa-sign-in fa-2x col-sm-12"></i></a></li>
        </ul>
	</div>       
    <% end %>